body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.max-w {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px;
}

.intro,
.footer {
    background-color: #1f2937;
}

.top {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;
}

.header-links {
    display: flex;
    gap: 16px;
}

.hero {
    display: flex;
}
